CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
sdcard/sorcerer2/tapes-all
sdcard/sorcerer2/disks-orig
sdcard/sorcerer2/roms
